/artifacts
/rust-lib/target
/.idea
/.nuke/temp
/.nuke/temp
/.nuke/temp
/.nuke/temp
.nuke/temp/build-attempt.log
*.log
*.dylib
/.nuke/temp
RustLib/NativeMethods.g.cs
.nuke/temp/build.log
/.nuke/temp
/libs
/fastdatecore/target
/.nuke/temp
/src/fastdatecore/target
/fastdatecore/.idea
/.nuke/temp
